%html
  %head
    %title= title
    %link{:rel => :stylesheet, :type => 'text/css', :href => '../base.css'}
  %body
    -  unless first?
      %a{:href => "page#{page_num-1}.html"}= "Prev"
    - unless last?
      %a{:href => "page#{page_num+1}.html"}= "Next"
    %br
    = raw_html
    